// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

:root {
	--mcfunction-novum-comment: inherit;
	--mcfunction-novum-comment-out: average(@base-background-color,@syntax-color-keyword);
	--mcfunction-novum-deactivated: inherit;
}

.syntax--string {
	color: @syntax-color-snippet;
}

.syntax--comment {
	.syntax--command-start {
		color: var(--mcfunction-novum-deactivated) !important;
	}
}

.syntax--number {
	color: @syntax-color-class;
}

.syntax--error{
	color: @text-color-error;
}

.syntax--operation{
	color: @ui-site-color-5;
}

.syntax--execute{
	color: lighten(@syntax-color-keyword, 15%, relative);
}


@import "ui-variables";
@import (optional) "index.less";


i.icon {
	display: block !important;
	&.command {
		color: @syntax-color-keyword;
		background: fadeout(@syntax-color-keyword, 80%);
	}
}

.icon-wrapper {
	&.command {
		background: fadeout(@syntax-color-keyword, 80%) !important;
	}
}

.icon-svg {

	&.command {
		>line {
			stroke: @syntax-color-keyword;
		}
	}
}

.popup-btn {
	float: none !important;
}

.syntax--source.syntax--mcfunction {

	.syntax--selector {
		color: @syntax-color-function;
	}

	.syntax--argument {

		.syntax--name {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--state {

		.syntax--name {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--nbt {

		.syntax--key {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--command {
		color: @syntax-color-keyword;
	}

	.syntax--coord {
		color: @syntax-color-constant;
	}
}
