// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

.syntax--string {
	color: @syntax-color-snippet;
}

.syntax--comment {
	color: @text-color-subtle;
}

.syntax--number {
	color: @syntax-color-class;
}

.syntax--error{
	color: @text-color-error;
}

.syntax--operation{
	color: @ui-site-color-5;
}

.syntax--execute{
	color: lighten(@syntax-color-keyword, 15%, relative);
}
.syntax--deactivated{
	color: average(@base-background-color,@syntax-color-keyword);
}

@import "ui-variables";
@import (optional) "index.less";

.icon {
	&.command {
		color: @syntax-color-keyword;
		background: fadeout(@syntax-color-keyword, 80%);
	}
	&.normal {
		color: @background-color-selected;
		background: fadeout(@background-color-selected, 80%);
	}
	&.img-background {
		background-color: fadeout(@background-color-selected, 80%);
	}
}

.syntax--source.syntax--mcfunction {

	.syntax--selector {
		color: @syntax-color-function;
	}

	.syntax--argument {

		.syntax--name {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--state {

		.syntax--name {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--nbt {

		.syntax--key {
			color: @syntax-color-tag;
		}

		.syntax--value {
			.syntax--string;
		}
	}

	.syntax--command {
		color: @syntax-color-keyword;
	}

	.syntax--coord {
		color: @syntax-color-constant;
	}
}
